@use "variables" as *;
@use "spacings" as *;

input { 
 
  &:not([type="checkbox"]){
    
    font-weight: bold;
    border: 2px solid $gray;
    padding: $s-spacing $base-padding + 0.3rem;
    border-radius: $base-border-radius;
    caret-color: $orange;
    width: 100%;
  }

  
  
  &:focus {
    outline: none;
    border: 2px solid $orange;
  }
}

label{
  text-transform: capitalize;
  font-weight: 700; 
}

.radio-button{
  font-weight: bold;
  border: 2px solid $gray;
  padding: $base-spacing 0;
  border-radius: $base-border-radius;
}


.input-stepper {
  display: flex;
  background-color: $gray;

  input {
    all: revert;
    text-align: center;
    border: none;
    background-color: $gray;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none;
    }
  }

  button {
    color: $out-of-color-palette-gray;
    background-color: $gray;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    padding: $base-spacing;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: orange;
    }
  }
}
