@use "../../../../SCSS/abstracts/index" as *;


.navigation{
    background-color: $black;
    
    &.sticky{
        margin-top: 1px;
        animation: nav-pop 0.3s ease-in-out;

        .container{
            padding: 0.3rem;

            .nav-toggle{
                top: 3.9rem;
            }

           
        }

    }

    &.slimmer-nav{
        
        .container{
            padding: 0.5rem;

        header{
            flex-wrap: nowrap;
    
    
            .cart-button{
                order: 3;

            }

            .nav-toggle {
               
                top: 4rem;
            }

            >a{
                display: none;
            }

        }

        .search-container{
            .top{
                top: 1rem;
            }
        }
    }

    }

   
    // height: 100%;
    
    >.container {
        border-bottom: 1px solid $out-of-color-palette-gray;
        padding: $base-spacing;
        height: 100%;

        .display-none {
            display: none;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: none;
            border: none;
            cursor: pointer;
            fill: $white;
            width: 47px;
            min-width: 47px;
            height: 47px;
            svg{
                pointer-events:none;
            }
            &:hover {
                fill: $orange;
            }
        }

        .cart-button{
            position: relative;

                span{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    width: 17px;
                    height: 17px;
                    background-color: $orange;
                    color: white;
                }
        }



        header {
            @include flex(space-between, unset, wrap, unset);
            gap: $base-spacing;
           
           .user-account{
            display: none;
           }

            a {
                align-self: center;
                img {
                    transition: transform 0.2s ease-in-out;
                    width: 80px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            nav {
                display: none;
                text-transform: uppercase;
            }

            // here I ve added a lot of padding because I wanted to make the container bigger because I needed more overflow so I can scroll to the bottom
            // I thought that phones with smaller height would benefit
            .nav-toggle {
                display: flex;
                overflow: scroll ; 
                position: absolute;
                top: 8.4rem;
                left: 0;
                animation: pop-out 0.3s ease-in-out;
                transform-origin: top;
                border-bottom-left-radius: $base-border-radius;
                border-bottom-right-radius: $base-border-radius;
                z-index: 1;
                padding-bottom: 8rem;

                &::-webkit-scrollbar {
                    width: 0; 
                    height: 0;
                }



                
                .special-nav {
                    @include flex(center, unset, unset, column);
                    width: 100%;
                    height: fit-content;
                    background-color: $white;

                    padding: 5rem 5% 2rem 5%;
                    gap: 5rem;

                    li {
                        width: 100%;

                        .hide{
                            display: none;
                        }


                        &:hover {
                            z-index: 1;
                        }

                        div {
                            position: relative;
                            transition: transform 0.2s ease-in-out;
                            border: none;
                            padding-bottom: $base-padding;
                            height: 130px;
                            border-radius: $base-border-radius;
                            @include flex(flex-end, center, unset, column);
                            background-color: $gray;

                            &:hover {
                                transform: scale(1.1);
                                box-shadow: 0px 0px 20px 1px rgb(150, 150, 150);
                                border-radius: $base-border-radius;
                            }

                            
                            .category-image {
                            width: 80px;
                            }

                            .subtitle {
                            color: $black;
                            font-size: $s-font;
                            }

                            a {
                                &:not(.big-link){
                                    position: relative;
                                    z-index: 2;
                                    background-color: $gray;
                                    transition: color 0.3s ease-in-out;
                                    width: 30%;

                                    img{
                                        width: 10%;
                                    }

                                    
                                }
                        
                            }

                            
                            .big-link{
                                position:absolute; 
                                width:100%;
                                height:100%;
                                top:0;
                                left: 0;
                                
                                z-index: 1;
                            }
                        }
                    }
                }   
            }

            .toggle-close {
                svg {
                    display: flex;
                    align-items: center;
                    fill: $white;

                    &:hover {
                        fill: $orange;
                    }
                }
            }

            // SEARCH INPUT

            // .dummy{
            //     max-width: 350px; 
            //     width: 350px;
            //     margin-left: auto; 
            //     height: 35px;
            //     width: 100%;
            // }
           
            // .search-container {
            //     align-self: center;
            //     position: relative;
            //     width: 100%;
            //     max-width: 350px;
            //     margin: 0 auto;
            
            //     // transition: all 0.3s ease-in-out;
            //     // transition: max-width 0.3 ease-in-out;
            //     // transform-origin: center;
                
               
                
            //     .form-content{
                    
            //         max-width: 1100px;
            //         align-self: center;
            //         width: 100%;
            //         margin: 0 auto;
                    
            //         .input-container{
            //                 position: relative;
            //                 margin: 0 auto;
            //                 max-width: 450px;
                            
            //                 input {
            //                     position: relative;
            //                     box-sizing: border-box;
            //                     width: 100%;
            //                     padding: 0.5rem 1rem;
            //                     // max-width: 350px;
            //                    &:focus{
            //                     outline:none;
            //                    }
            //                    font-family: inherit;
            //                 }
                            
            //                 .place-holder{
            //                     position: absolute;
            //                     pointer-events: none;
            //                     top: 0.4rem;
            //                     left: 1.08rem;
            //                     margin: 0;
            //                     font-size: 0.84rem;
            //                     font-weight: 700;
            //                     color: rgba($color: $out-of-color-palette-gray, $alpha: 0.3);
            //                 }
            
            //                 button {
            //                     position: absolute;
            //                     background-color: transparent;
            //                     fill: $black;
            //                     height: 38px;
            //                     width: 50px;
            //                     top: 0;
            //                     right: 0;
            //                     border-bottom-right-radius: $base-border-radius;
            //                     border-top-right-radius: $base-border-radius;
            //                     transition: background-color 0.2s ease-in-out;
            //                     svg {
            //                         border-bottom-right-radius: $base-border-radius;
            //                         border-top-right-radius: $base-border-radius;
                                  
            //                         transition: background-color 0.2s ease-in-out;
            //                     }
            
            //                     &:hover {
            //                         background-color: $orange;
            //                         fill: $white;
            //                     }

                                
            //                 }
            //                 .close-search{
            //                     right: 50px;
            //                     width: 30px;
            //                     border-radius: 0;
                                
            //                     svg{
            //                         width: 15px;
            //                     }

            //                     &:hover{
            //                         background-color: rgba($color: $orange, $alpha: 0.5);
            //                     }

            //                 }

            //                 .hide{
            //                     display: none;
            //                 }
            //             }
            //     }

            //     .content-width{
            //         width: 90%;

            //         .input-container button{
            //             border-bottom-right-radius: 0;
            //         }
                   
            //     }
                
            //     .top{
            //         border-radius: $base-border-radius;
            //         top: 5.12rem;
            //         height: fit-content;
            //         input{
            //             border: 2px solid $orange;
            //             border-bottom-left-radius: 0;
            //             border-bottom-right-radius: 0 ;
            //             border-bottom: none;
            //         }
            //     }

            //     .search-results{
            //         background-color: $white;
            //         margin-top: -1px;
            //         max-width: 450px;
            //         overflow-y: scroll;
            //         border: 2px solid $orange;
            //         border-top: none;
            //         border-bottom-left-radius: $base-border-radius;
            //         border-bottom-right-radius: $base-border-radius;
            //         max-height: 400px;

            //             &::before{
            //                 content : "";
                            
            //                 position: absolute;
            //                 left: 50%;
            //                 top: 39px;
            //                 height: 1px;
            //                 width: 90%; 
            //                 transform: translate(-50%, -50%);
            //                 border-bottom: 2px solid $gray;
            //             }

            //             .suggestion{
            //                 padding: 0.5rem 1rem;
            //                 font-weight: 800;
            //                 margin: 0;
            //             }

                        
            //             &::-webkit-scrollbar{
            //                 width: 0.7rem;
            //                 border-radius: $base-border-radius;
            //             } 

            //             &::-webkit-scrollbar-track{
            //                 padding-top: 2px;
            //                 border-radius: $base-border-radius;
                            
            //             }
            //             &::-webkit-scrollbar-thumb{
            //                 border-radius: $base-border-radius;
            //             }

                          
            //         ul{
            //             padding-bottom: 1rem;
            //             border-radius: $base-border-radius;
            //             li{
            //                 position: relative;

            //                 a{
            //                     display: flex;
            //                     padding: 0.5rem 1rem;
            //                     align-items: center;

            //                     svg{
            //                         fill: gray;
            //                     }

            //                     &:hover{
            //                         background-color: $gray;
            //                     }
            //                 }
            //             }

            //             .highlight{
            //                 color: $orange;
            //             }
                        
            //         }
                    
                  
            //     }

            // }  
            
            .overlay {
                position: absolute;
                background: rgba(0, 0, 0, 0.5);

                width: 100vw;
                height: 100vh;
                 z-index: 6;

                //old
                // width: 100%;
                // height: 100%;
                // z-index: 4;
            }


            // CAUTION FOR SOME REASON IF TOP LEFT AND TRANSFORM ARE CHANGED CHECKOUT SEARCH BAR IS GOING TO BEHAVE DIFFERENT
            .overlay2{
                position: absolute;
                background: rgba(0, 0, 0, 0.5);

                width: 100vw;
                height: 100vh;
                z-index: 6;
                max-width: 100vw;

                // old
                // width: 100%;
                // height: 100%;

                
                
                top: 0%;
                left: 0%;


                //old
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
            }

            // .search-animation{
            //     animation: search-bar 1s ease-in-out;
            // }
        }

    }

  
    .user-container{
        .user-options-container{
            width: 90%;
            margin: 0 auto;
            padding: 0;
            max-width: 1100px;
            padding-top: 1.25rem;

            .user-options-content{
                margin-left: auto;
                margin-right: 80px;
                width: fit-content;
            
                background-color: white;
                border-radius: $base-border-radius;
                padding: 1rem;

                display: flex;
                align-items: center;
                // flex-direction: column;
                gap: 0.5rem;
                // justify-content: center;

                .button-1{
                    // padding: 0;
                    padding: 0.5rem 1rem;
                }

                .button-3{
                    text-transform: capitalize;
                }

            }

            .hide{
                display: none;
            }

        }
    }


    .overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 6;

        //old

        // width: 100%;
        // height: 100%;
        // z-index: 4;
    }



}

.sticky{
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
}

