@use "../../SCSS/abstracts/index" as *;

body {
  @include flex(center, unset, unset, unset);
  background-color: $light-gray;
  position: relative;
}

.signUp {
  height: 100vh;
  @include flex(unset, center, unset, unset);

  .container {
    width: 100vw;
    height: 100vh;
    border-radius: $base-border-radius;
    background-color: $white;
    form {
      h2 {
        text-align: center;
        margin: 0;
        padding: $m-spacing;
      }

      div {
        margin-top: $base-spacing;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &:not(.names) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        // span{
        //   // margin-left: auto;
        // }

        .error {
          border: 2px solid #cd2c2c;
        }
      }

      .terms {
        margin-top: $base-spacing;
        justify-content: unset;
        a {
          color: $black;
          font-weight: bold;
          color: $orange;

          &:hover {
            color: $light-orange;
          }
        }

        span {
          width: 100%;
        }
      }

      .buttons {
        margin: $m-spacing 0;
        button,
        a {
          width: 50%;
        }

        .button-3 {
          background-color: inherit;
          padding: $base-spacing $m-spacing;
        }
      }
    }
  }
}


@media screen and (min-width: 550px) {
       
    .signUp{
        .container{
            width: 550px;
            // height: 650px;
            height: 700px;
            box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.65);
            form{
                .names{
                    flex-direction: row;
                        gap: $base-spacing - 0.3rem;
                    div{
                        width: 50%;
                        flex-direction: row;
                        flex-wrap: wrap;

                        // &:last-of-type{
                        //     margin-left: auto; 
                        // }
                    }
                }
            }
        }
    }
}
